:root {
    --black-shadow: #00000040;
    --dark-blue: #100e1d;
    --bluer: #110e3c;
    --blue: #1e213a;
    --sky-blue: #3c47e9;
    --overcast-grey: #585676;
    --darker-grey: #616475;
    --dark-grey: #6e707a;
    --grey: #88869d;
    --light-grey: #a09fb1;
    --off-white: #e7e7eb;
}

* {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

div {
    color: var(--off-white);
}
